@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 60, 179, 60; /* #3CB33C */
  --secondary: 135, 206, 235; /* #87CEEB */
  --accent: 255, 140, 0; /* #FF8C00 */
  --background: 245, 245, 245; /* #F5F5F5 */
  --white: 255, 255, 255; /* #FFFFFF */
  --text-color: 47, 79, 79; /* #2F4F4F */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

body {
  font-family: var(--font-roboto);
  background-color: var(--background);
  overflow: hidden;
}

.dark {
  --background: 32, 32, 32; /* #202020 */
  --text-color: 255, 255, 255; /* #FFFFFF */
}

/* Scrollbar Hide */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
