@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 92, 214, 255;
  --secondary: 79, 187, 187;
  --accent: 255, 120, 71;
  --background: 248, 249, 250;
  --white: 255, 255, 255;
  --text-color: 21, 8, 17;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

body {
  font-family: var(--font-roboto);
  overflow-x: hidden;
  overflow-y: auto;
}

.dark {
  --background: 21, 8, 17;
  --text-color: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: 92, 214, 255;
    --secondary: 79, 187, 187;
    --accent: 255, 120, 71;
    --background: 0, 0, 0;
    --white: 0, 0, 0;
    --black: 255, 255, 255;
  }
} */
